@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
}

body {
  background-color: var(--fundo_claro);
}

:root {
  --cor_de_destaque: #ffd468;
  --fonte_branca: #fff;
  --fundo_claro: #f2f1f1;
  --fonte_preta: #000;
  --background_claro: rgba(253, 173, 0, 0.418);
  --span_color: #ee8803;
}

html {
  scroll-behavior: smooth;
}

header {
  justify-content: space-between;
  background-color: var(--cor_de_destaque);
  align-items: center;
  position: fixed;
  width: 100%;
  z-index: 1000;
  /* Garante que a navbar fique na frente */
  top: 0;
}

header nav {
  padding: 28px;
  gap: 22px;
}

header a {
  color: var(--fonte_preta);
  text-transform: uppercase;
  transition: 0.5s;

}

header a:hover {
  color: var(--span_color);
  font-size: 1.1em;
}

header i {
  padding: 28px;
}

h1 {
  font-size: 2.5em;
  color: var(--fonte_preta);
}

p {
  text-align: center;
}

.sobre-fit {
  font-size: 1.2rem;
  margin: auto 400px;
  
}

.first_container {
  height: 40vh;
  color: var(--fonte_branca);
  background-image: url("../img/teste.jpeg");
  background-size: cover;
  /* Faz a imagem cobrir toda a área */
  background-position: center;
  /* Centraliza a imagem */
  background-repeat: no-repeat;
  /* Impede que a imagem se repita */
  margin-top: 100px;
}

.square {
  background: rgb(255 255 255 / 55%);
  border-radius: 4px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  /* background-color: #e3b747bf; */
  padding: 10px 20px;
}

main {
  background-color: var(--fundo_claro);
  padding: 48px;
  font-size: 1.2rem;
  text-align: justify;
}

.image-container {
  display: flex;
}

.left-image img {
  height: 40.8vh;
  /* Altura da imagem em pé */
  width: auto;
  border-radius: 8px;
}


.image_right1,
.image_right2 {
  display: flex;
  height: 20vh;
  /* Altura ajustada para manter a proporção */
  width: auto;
  border-radius: 8px;
  margin: 0 0 10px 10px;
}

h2 {
  text-transform: uppercase;
  font-size: 1.9rem;
  margin-bottom: 28px;
}

.about_fitTech {
  background-image: url("../img/academia.webp");
  background-size: cover;
  /* Faz a imagem cobrir toda a área */
  background-position: center;
  /* Centraliza a imagem */
  background-repeat: no-repeat;
  /* Impede que a imagem se repita */
  background-attachment: fixed;
  height: 35vh;
  width: 85%;
  box-shadow: 0px 20px 15px rgba(191, 191, 191, 0.45);
  margin-bottom: 28px;
  border-radius: 16px;
}

.about_fitTech button {
  background-color: #ffffff;
  padding: 10px 28px;
  border-radius: 8px;
  border: none;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1em;
}

.about_fitTech a {
  color: var(--fonte_preta);
  margin-right: 6px;
}

.second_container,
.fifth_container {
  color: var(--fonte_preta);
  /* background-color: var(--background_claro); */
  background-image: url(../img/background_opcional.jpeg);
  /* background-repeat: no-repeat; */
  background-attachment: fixed;
  background-size: 100%;
  padding: 28px 0px;
}

span {
  color: var(--span_color);
}

.Instructors {
  margin-top: 20px;
  gap: 80px;
}

.redes_sociais {
  font-size: 25px;
}

.prototipo {
  margin-top: 20px;
  gap: 45px;
}

.Instructors img {
  height: 300px;
  border-radius: 50%;
  width: 300px;
  box-shadow: 0 4px 30px #00000042;
}

.prototipo img {
  height: 300px;
  border-radius: 6px;
  width: 100%;
  box-shadow: 0 4px 30px #00000042;
}

.card {
  gap: 12px;
}

.third_container,
.fourth_container,
.sixth_container,
.seventh_container {
  background-color: var(--fundo_claro);
  padding: 48px 0px 20px 0px;
}


.products_container {
  background-color: var(--fundo_claro);
  padding: 48px 0px 20px 0px;
  margin-top: 100px;
}

.box img {
  height: 18vh;
  border-radius: 10px;
}

.box5 img {
  height: 18vh;
  border-radius: 10px;
}

.box {
  background-color: #fff;
  /* height: 25vh; */
  /* width: 200px; */
  padding: 15px;
  border-radius: 10px;
  width: 60%;
  display: table;
}

.box5 {
  background-color: #fff;
  /* height: 25vh; */
  /* width: 200px; */
  padding: 15px;
  border-radius: 10px;
}

.third_container button,
.fourth_container button,
.sixth_container button {
  margin: 28px 0px;
  background-color: var(--background_claro);
  padding: 10px 28px;
  border-radius: 8px;
  border: none;
  text-transform: uppercase;
  /* font-weight: bold; */
  font-size: 1em;
  transition: 0.3s;
}

.third_container button:hover,
.fourth_container button:hover,
.sixth_container button:hover {
  background-color: #e3b747;
  /* cursor: pointer; */
}

.third_container a,
.fourth_container a,
.sixth_container a {
  color: var(--fonte_preta);
}

.third_container i,
.fourth_container i,
.sixth_container i {
  margin-left: 4px;
}

.products_container button {
  margin: 28px 0px;
  background-color: var(--background_claro);
  padding: 10px 28px;
  border-radius: 8px;
  border: none;
  text-transform: uppercase;
  /* font-weight: bold; */
  font-size: 0.9em;
  transition: 0.3s;
  cursor: pointer;
}

.products_container button:hover {
  background-color: #e3b747;
  /* cursor: pointer; */
}

.products_container a {
  color: var(--fonte_preta);
}

.products_container i {
  margin-left: 4px;
}

.products {
  gap: 28px;
}

.titulo_produto {
  text-align: center;
  font-weight: bolder;
}

footer {
  background-color: #ffd468;
  padding: 28px;
  width: 100%;
  position: relative;
  bottom: 0;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex_row {
  display: flex;
  flex-direction: row;
  padding: 15px;
}

.flex_column {
  display: flex;
  flex-direction: column;
}

.flex_column5 {
  display: flex;
  flex-direction: column;
}

strong {
  color: var(--fonte_preta);
  font-size: 1.2em;
}

.btn_back {
  display: inline-block;
  margin-bottom: 20px;
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 16px;
  background-color: #ffd468;
  padding: 10px 15px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.btn_back:hover {
  background-color: #e3b747;
}

.down {
  color: var(--span_color);
  font-size: 60px;
  margin-bottom: 40px;
}

.up {
  color: var(--span_color);
  font-size: 60px;
  margin-top: 40px;
}

.info {
  display: flex;
  margin-right: 0;
  float: right;
  /* height: 100%; */
  width: 28%;
  padding: 5px;
  /* border: 1px solid; */
  padding-left: 20px;
}

.three-row {
  display: flex;
  /* height: 100%; */
  margin-bottom: 20px;
  width: 100%;
  justify-content: center;
}

.content {
  position: relative;
  padding: 14px 18px;
  /* border-radius: 8px;
  padding-left: 0;
  display: table-cell; */
}

.table {
  border: 1px solid;
  display: inline-flex;
  border-radius: 6px;
  padding: 8px;
  width: 100%;
}

.table-scndBox{
  border: 1px solid;
  border-radius: 6px;
  padding: 12px;
  width: 320px;
}

.table h4, .table-scndBox h4{
  margin-bottom: 3px;
}

.table i {
  font-size: 30px;
  padding: 10px;
  margin: auto;
}

.content p, .table-scndBox p {
  text-align: unset;
}

.box {
  margin: 100px auto;
  margin-bottom: 0;
  font-size: 14px;
  /* line-height: 20px; */
  display: grid;
  justify-items: center;
}

.box-carrossel {
  margin: 60px auto;
  margin-bottom: 0;
  font-size: 14px;
  /* line-height: 20px; */
  /* display: grid; */
  justify-items: center;
}

.sua-conta {
  text-align: center;
  text-transform: uppercase;
}